<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products | sort; let i=index" 
    (click)="selectedProduct = product">
    <app-product-view [id]="i"></app-product-view>
  </li>
</ul>
<app-product-detail 
  *ngIf="selectedProduct; else noProduct"
  [product]="selectedProduct"
  (bought)="onBuy($event)">
</app-product-detail>
<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>
<h2>Favorites</h2>
<app-favourites></app-favourites>
<!-- <span>{{product.name}}</span> -->