<div *ngIf="product">
  <h2>Product Details</h2>
  <h3>{{product.name | lowercase}}</h3>
  <div [ngSwitch]="product.name">
    <p *ngSwitchCase="'Webcam'">
      Product is used for video
    </p>
    <p *ngSwitchCase="'Microphone'">
      Prouct is used for audio
    </p>
    <p *ngSwitchDefault>Product is for general use.</p>
    <p>{{product.price | currency: 'SGD'}}</p>
    <!-- 
      <p>{{today | date:'fullDate'}}</p>
      <p>{{product | json}}</p>
    -->
  </div>

  <input appNumeric /><br />
  <button (click)="buy()">Buy Now</button>
</div>

