<h2>Product List</h2>
<ul>
  <li (click)="selectedProduct = 'Webcam'">Webcam</li>
  <li (click)="selectedProduct = 'Microphone'">Microphone</li>
  <li (click)="selectedProduct = 'Wireless Keyboard'">Wireless Keyboard</li>
</ul>
<app-product-detail #product [name]="selectedProduct"
  (bought)="onBuy($event)"></app-product-detail>
<!-- <span>{{product.name}}</span> -->