<h2>Product List</h2>
<ul>
  <li *ngFor="let product of products | sort" 
    (click)="selectedProduct = product">
    {{product.name}}
  </li>
</ul>
<app-product-detail 
  *ngIf="selectedProduct; else noProduct"
  [product]="selectedProduct"
  (bought)="onBuy($event)">
</app-product-detail>
<ng-template #noProduct>
  <p>No product selected!</p>
</ng-template>

<h3>Offers</h3>
<ng-template appProductHost></ng-template>
<!-- <span>{{product.name}}</span> -->